.navbar {
  position: relative;
  height: 100px;
  top: 0;
  left: 0;
  border-bottom: 1px solid #eaeaea;
}

.navbar-content {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.navbar-links {
  display: flex;
  list-style: none;
  padding: 0;
  align-items: center;
}

.navbar-item {
  float: left;
  font-size: 1.3em;
}
.navbar-item a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #50637d;
}

.navbar-logo {
  margin-left: 2rem;
}

.navbar-logo img {
  width: 160px;
}

.spacer {
  flex: 1;
}
